@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2.4rem;
	font-family: 'Quicksand', sans-serif;
	color: #5a3e2b;
	font-weight: 500;
}

.app {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

.header {
	padding: 3rem;
	background-color: #f4a226;
	text-align: center;
}

h1 {
	font-size: 8rem;
	font-family: 'Monoton', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -5px;
	word-spacing: 30px;
}

.form {
	padding: 3rem;
	background-color: #e5771f;
}

.add-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.add-form h3 {
	font-size: 2.4rem;
	margin-right: 3rem;
}

.add-form button,
.add-form select,
.add-form input,
.actions button,
.actions select  {
	padding: 1.2rem 3.2rem;
	font-size: 1.8rem;
	font-family: inherit;
	font-weight: 700;
	color: inherit;
	background-color: #ffebb3;
	border: none;
	border-radius: 10rem;
	cursor: pointer;
}

.add-form input::placeholder {
	color: inherit;
}
.add-form button {
	text-transform: uppercase;
	background-color: #76c7ad;
}

.packing-list {
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	background-color: #5a3e2b;
}

.list {
	width: 80%;
}

.list ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	align-content: start;
	gap: 3rem;
	list-style: none;
}

.list li {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.list input {
	width: 2rem;
	height: 2rem;
	accent-color: #e5771f;
	cursor: pointer;
}

.list span {
	color: #ffebb3;
	text-transform: capitalize;
	letter-spacing: 2px;
}

.list button {
	padding: 1rem;
	font-size: 1.4rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.actions {
	display: flex;
	gap: 1rem;
}

.actions select {
	text-transform: uppercase;
}

.actions button {
	text-transform: uppercase;
	cursor: pointer;
}

.stats {
	padding: 3rem;
	text-align: center;
	font-weight: 700;
	background-color: #76c7ad;
}
